    <section class="about-area">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2>A young and professional team</h2>
                </div>
            </div>

            <div class="row">
            <% textForAbout.forEach(aboutText => { %>
                <div class="col-12 col-lg-6">
                    <p><%=aboutText.text %></p>
                </div>
                <%})%>
            </div>

            <div class="row align-items-center mt-80">
                <!-- Single Cool Fact -->
                <% counter.forEach(count => { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact d-flex align-items-center">
                        <h3><span class="counter"><%= count.counter %></span>K</h3>
                        <div class="cf-text">
                            <h6><%= count.title%></h6>
                            <span><%=count.text%></span>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </section>