<h5 class="title">3 Comments</h5>

<ol>
<!-- Single Comment Area -->
    <li class="single_comment_area"><% commentArea.forEach(comment => {%>
            <% let now = new Date(comment.time); %>
        <!-- Comment Content -->
        <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
                <img src="<%= comment.img %>" alt="author">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
                <a href="#" class="post-author"><%= comment.name %></a>
                <a href="#" class="post-date"><%= dateAndTime.format(now, 'MM/DD, YYYY HH:mm') %></a>
                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
            </div>
        </div>
        <%})%>
    </li>
</ol>