<div class="latest-comments-widget">
        <h3>Latest Comments</h3>
<% latestComment.forEach(comment => {%>
    <!-- Single Comments -->
    <div class="single-comments d-flex">
        <div class="comments-thumbnail mr-15">
            <img src="<%= comment.img %>" alt="">
        </div>
        <div class="comments-text">
            <a href="#"><%= comment.name%> <span>on</span> <%= comment.job%></a>
            <p>06:34 am, April 14, 2018</p>
        </div>
    </div>

        <%})%>
</div>
                      