



<div class="popular-news-widget mb-50">
    <h3>4 Most Popular News</h3>
<% latestNews.forEach(news => { %>
    <!-- Single Popular Blog -->
    <div class="single-popular-post">
        <a href="#">
            <h6><span><%= news.number%>.</span> <%= news.text%></h6>
        </a>
        <p>April 14, 2018</p>
<%})%>
</div>

