


<h3>4 Most Popular News</h3>
<%latestNews.forEach((news, index) => { %>
<% let now = new Date(news.article_date); %>
    <!-- Single Popular Blog -->
    <div class="single-popular-post">
        <a href="#">
            <h6><span><%= index+1%>.</span><%= news.article_title%></h6>
        </a>
        <p><%= dateAndTime.format(now, 'MMMM DD, YYYY') %></p>
    </div>
<%}) %>