<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Produkter</title>
</head>
<body>

<h1>Produkter</h1>


<% products.forEach(product => { %>
<div>
    <h3><%= product.product_title%></h3>
    <p><%= product.product_description%></p>
    <span><%= product.product_price%> kr.</span>
</div>
<% }) %>


</body>

</html>